{% extends "base.html" %}

{% block title %}Create user{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Create user</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.password_confirmation.label(class="form-label") }}
                        {{ form.password_confirmation(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.role.label(class="form-label") }}
                        {{ form.role(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.phone_number.label(class="form-label") }}
                        {{ form.phone_number(class="form-control") }}
                    </div>
                    <div class="d-grid">
                        {{ form.confirmation_button(class="btn btn-primary", value="Create", type="submit") }}
                    </div>
                </form>
                <a href="{{ url_for('login') }}">Do you already have an account? Go to login page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}