{% extends "base.html" %}

{% block title %}Booking{% endblock %}

{% block content %}
<h1>Booking</h1>
<a href="{{ url_for('schedules_new') }}" class="btn btn-primary mb-3">New Booking</a>

<table class="table table-hover caption-top">
    <caption>List of booking</caption>
    <thead class="table-dark">
        <tr>
            <th>Created at</th>
            <th>Vehicle</th>
            <th>Service</th>
            <th>Booked</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for booking in bookings %}
    <tr>
        <td>{{ booking.created_at.strftime("%d/%m/%Y às %H:%M") }}</td>
        <td>{{ booking.vehicle.plate }} - {{ booking.vehicle.model }} - {{ booking.vehicle.owner.name }}</td>
        <td>{{ booking.service.service }}</td>
        <td>{{ booking.appointment.strftime("%d/%m/%Y às %H:%M") }}</td>
        <td>
            <a href="{{ url_for('booking_edit', id=booking.id) }}" class="btn btn-secondary btn-sm">Edit</a>
            <a href="{{ url_for('booking_delete', id=booking.id) }}" class="btn btn-secondary btn-sm btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
