{% extends "base.html" %}

{% block title %}Booking{% endblock %}

{% block content %}
<h1>Booking</h1>
<a href="{{ url_for('schedules_new') }}" class="btn btn-primary mb-3">New Booking</a>

<table class="table table-hover caption-top">
    <caption>List of booking</caption>
    <thead class="table-dark">
        <tr>
            <th>Appointment</th>
            <th>Vehicle</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for booking in bookings %}
    <tr>
        <td>{{ booking.date_time.strftime('%d/%m/%Y %H:%M') }}</td>
        <td>{{ booking.vehicle.plate }}</td>
        <td>{{ booking.status }}</td>
        <td>
            <a href="{{ url_for('edit_booking', booking_id=booking.id) }}">Edit</a>
            <a href="{{ url_for('delete_booking', booking_id=booking.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}